#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 1000px;
}

* {
  box-sizing: border-box;
  font-family: 'Baloo Bhaijaan 2';
  background: #E2EDF8;
}
.card {
  width: 1302px;
  height: 800px;
  background: #FFFFFF;
  box-shadow: 0px -10px 29px 0px #5982AB1F;
  border-radius: 30px;
}
.mask-group {
  width: 107px;
  height: 63px;
}
.left {
  position: relative;
  top: 214.17px;
}
.right {
  position: relative;
  top: 150.9px;
  left: 1175px;
}
.vect1 {
  background: #FFFFFF;
  width: 126.85px;
  height: 33.7px;
  background-image: url('../imgs/vect2.svg');
  background-size: cover;
}
.vect2 {
  background: #FFFFFF;
  width: 126.34px;
  height: 36.24px;
  background-image: url('../imgs/vect1.svg');
  background-size: cover;
}
.search {
  position: relative;
  width: 822px;
  height: 203px;
  top: -3.54px;
  left: 239px;
  background: #FFFFFF;
}
h2 {
  position: relative;
  width: 325px;
  height: 48px;
  left: 295px;
  font-size: 40px;
  font-weight: 900;
  line-height: 48.08px;
  text-align: center;
  color: #5982AB;
  direction: rtl;
  background: #FFFFFF;
}
p {
  position: relative;
  width: 419px;
  height: 21px;
  top: 13.696;
  left: 203px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: center;
  color: #858585;
  background: #FFFFFF;
}
.search-bar {
  position: relative;
  width: 822px;
  height: 70px;
  top: 29.4px;
  background: #F3F3F3;
  border-radius: 15px;
}
.glass {
  width: 28px;
  height: 28px;
  color: #878787;
  font-size: 28px;
  position: relative;
  top: 9px;
  left: 7px;
  background: #F3F3F3;
}
.search-input {
  position: relative;
  width: 642px;
  height: 48px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.18px;
  text-align: right;
  direction: rtl;
  background: #f3f3f3;
  border: none;
  outline: none;
}
::placeholder {
  color: #b8b8b8;
}
input[type=text] {
  color: black;
}
.search-button {
  position: relative;
  width: 115px;
  height: 46px;
  border-radius: 25px;
  background-color: #5982AB;
}
.search-button span {
  width: 48px;
  height: 24px;
  font-size: 20px;
  font-weight: 900;
  line-height: 24.04px;
  text-align: left;
  background-color: #5982AB;
  color: #FFFFFF;
}
.fingerprint {
  position: relative;
  width: 53.53px;
  height: 72px;
  top: -329.54px;
  left: 48.23px;
  background-image: url('../imgs/fingerprint.svg');
  background: #FFFFFF;
}
.data {
  width: 1048px;
  position: relative;
  left: 127px;
  background: #FFFFFF;
}
.info {
  width: 247px;
  height: 202px;
  border-radius: 20px;
  background: linear-gradient(281.72deg, #3266E3 4.47%, #54B5A6 88.87%);
}
.info span {
  width: 141px;
  height: 74px;
  top: 64px;
  left: 53px;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 36.63px;
  text-align: center;
  position: relative;
  display: block;
  background: transparent;
}
.gender {
  width: 247px;
  height: 202px;
  border-radius: 20px;
  background: #F4F4F4;
}
.loc {
  width: 247px;
  height: 202px;
  border-radius: 20px;
  background: #F4F4F4;
}
.dob {
  width: 247px;
  height: 202px;
  border-radius: 20px;
  background: #F4F4F4;
}
.icon {
  position: relative;
  width: 44px;
  height: 44px;
  top: 18px;
  left: 183px;
  background: #82B8A1;
  border-radius: 50%;
}
.ico {
  position: relative;
  width: 20px;
  height: 20px;
  top: 12px;
  padding: 0px 0.63px;
  background: #82B8A1;
}
.text {
  position: relative;
  width: 145px;
  height: 22px;
  top: 10px;
  left: 78px;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 21.98px;
  text-align: right;
  color: #797979;
  background: #F4F4F4;
}
.line {
  width: 212px;
  height: 1px;
  border-radius: 2px;
  position: relative;
  top: 15px;
  left: 17px;
  background: rgba(0, 0, 0, 0.13);
}
#date, #gov, #morf {
  position: relative;
  width: 177px;
  height: 37px;
  top: 45px;
  left: 35px;
  color: #494949;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 36.63px;
  background: #F4F4F4;
}
.contact {
  position: relative;
  width: 1302px;
  height: 57px;
  top: 250px;
  border-radius: 0px 0px 30px 30px;
  text-align: center;
  background: #D3E2F2;
  color: #5982AB;
}

@media only screen and (min-width: 640px) {
  .card { height: 1390px; }
  .data {
    width: 247px;
    left: 539px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .info { grid-area: 1 / 1 / 2 / 2; }
  .gender { grid-area: 2 / 1 / 3 / 2; }
  .loc { grid-area: 3 / 1 / 4 / 2; }
  .dob { grid-area: 4 / 1 / 5 / 2; }
}
@media only screen and (min-width: 1024px) {
  .card { height: 946px; }
  .data {
    width: 524px;
    left: 404px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .info { grid-area: 1 / 2 / 2 / 3; }
  .gender { grid-area: 1 / 1 / 2 / 2; }
  .loc { grid-area: 2 / 2 / 3 / 3; }
  .dob { grid-area: 2 / 1 / 3 / 2; }
}
@media only screen and (min-width: 1280px) {
  .card { height: 900px; }
  .data {
    width: 1048px;
    left: 127px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
  .info { grid-area: 1 / 4 / 2 / 5; }
  .gender { grid-area: 1 / 3 / 2 / 4; }
  .loc { grid-area: 1 / 2 / 2 / 3; }
  .dob { grid-area: 1 / 1 / 2 / 2; }
}
